* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    width: 10rem;
    height: 10rem;
    border: solid 2px #333;
    font-size: 8rem;
    display: grid;
    place-items: center;

    cursor: pointer;
}

#square-0 {
    border-left: none;
    border-top: none;
}

#square-1 {
    border-top: none;
}

#square-2 {
    border-right: none;
    border-top: none;
}

#square-3 {
    border-left: none;
}

#square-5 {
    border-right: none;
}

#square-6 {
    border-bottom: none;
    border-left: none;
}

#square-7 {
    border-bottom: none;
}

#square-8 {
    border-right: none;
    border-bottom: none;
}
